<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>401 Unauthorized</title>
  <link rel="stylesheet" href="/Styles/401.css" />
</head>
<body>
  <div class="container">
    <h1>401 Unauthorized</h1>
    <p>
     HANDLE 401  ERROR: This error indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.
     You might want to check your login status or provide the necessary credentials.
    </p>
    <button onclick="goHome()">Back to Home</button>
  </div>

  <script>
    function goHome() {
      window.location.href = "index.html";
    }
  </script>
</body>
</html>