<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>502 / 503 Error</title>
  <link rel="stylesheet" href="/Styles/502-503.css" />
</head>
<body>
  <div class="container">
    <h1>502 Bad Gateway / 503 Service Unavailable</h1>
    <p>
        HANDLE 502/503 ERROR: This error indicates that the server is currently unable to handle the request due to temporary overloading or maintenance of the server.
        You might want to try again later or check the server status.
    </p>
    <button onclick="goHome()">Back to Home</button>
  </div>

  <script>
    function goHome() {
      window.location.href = "index.html";
    }
  </script>
</body>
</html>
